{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="contacto-pagina">
    <div class="contacto_redes contenedor">
        <h2 style="margin: auto;">Conecta con Nosotros</h2>
        <div class="redes_iconos">
            <a href="#" class="red_enlace"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#" class="red_enlace"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#" class="red_enlace"><i class="fab fa-tiktok"></i> TikTok</a>
        </div>
        <p style="margin: 10 auto;">gestion_asegurada@gmail.com</>
    </div>
</main>
{% endblock %}