{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="sobre-nosotros">
    <div class="encabezado-nosotros contenedor">
        <h1>Un Futuro Asegurado Comienza Aquí</h1>
        <p>En Gestión Asegurada, innovamos en la administración de pólizas con tecnología WaaS de última generación.</p>
    </div>
    
    <section class="grid-nosotros contenedor">
        <div class="nosotros_imagen">
            <img src="{% static 'img/nosotros1.png' %}" alt="Equipo de Gestión Asegurada">
        </div>

        <div class="nosotros_texto">
            <h2>Nuestra Misión y Liderazgo</h2>
            <p>Nuestra misión es simplificar la vida de los agentes de seguros, ofreciendo una plataforma robusta, segura y fácil de usar que se adapta a las necesidades de cada póliza.</p>
            
            <h3>Liderando la Transformación Digital</h3>
            <p>Bajo la guía de nuestro liderazgo experto, ayudamos a los agentes no solo a gestionar pólizas, sino a liberar el potencial de su negocio en la era digital.</p>
        </div>
    </section>
</main>
{% endblock %}